p {
    color: blue;
}

#purple {
    color: purple;
}

.red {
    color: red;
}

#green {
    color: green;
}

li:first-child {
    list-style-type: square
}

li:last-child {
    list-style-type: circle
}

li:nth-child(3n+2) {
    list-style-image: url('star.gif')
}

ul li li {
    text-decoration: underline;
}

ul>.red {
    list-style-image: linear-gradient(to left bottom, red, blue);
    color: black;
}

ul .red+* {
    color: fuchsia
}

input[type="checkbox"]:not(:checked)+label {
    color: red;
}

input[type="checkbox"]:checked+label {
    color: green;
}

input:required+label {
    font-weight: bold;
    color: black !important
}

*:disabled+label {
    color: gray;
}

input:invalid+label {
    font-weight: bold;
    color: red;
}

input:first-of-type+label {
    text-decoration: underline;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
}

li {
    font-size: 200%;
}

ul {
    margin-left: 10px;
}

ul li li {
    font-size: 100%;
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]+label,
input[type="email"]+label,
select+label {
    padding-left: 10px;
}
